.row {
  display: flex;
  flex-wrap: nowrap;
}

.nav-bar {
  background-color: blue;
  width: 100%;
  height: 60px;
}

img {
  width: 200px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 40%;
}

p {
  display: block;
  color: blue;
  padding-left: 20px;
  font-family: sans-serif;
  margin-top: 20%;
}

.button-box {
  text-align: center;
  margin-top: 20px;
}

.btn-primary {
  width: 45%;
  margin-left: 10px;
}
